@font-face {
    font-family: "Gotham-Bold";
    src: url(assets/font/Gotham-Bold.otf);
}
@font-face {
    font-family: "Gotham-Book";
    src: url(assets/font/Gotham-Book.otf);
}
@font-face {
    font-family: "Gotham-Medium";
    src: url(assets/font/Gotham-Medium.otf);
}
@font-face {
    font-family: "Poppins-Medium";
    src: url(assets/font/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins-Reguler";
    src: url(assets/font/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: fit-content;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 45px;
    margin-bottom: 45px;
    overflow-x: hidden;
}

header img {
    width: 254px;
    height: 58px;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.databox {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.bookshelf {
    width: 840px;
    height: 450px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.bookshelf h4 {
    font-family: "Gotham-Medium";
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #393E46;
    opacity: .8;
    width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FFD369;
    border: none;
    border-radius: 15px 15px 0 0;
    text-align: center;
}

.searchbox {
    width: 800px;
    height: fit-content;
    border: 1px solid #F7F5F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

.searchbox input {
    width: 700px;
    height: 26px;
    border: none;
    font-family: "Gotham-Book";
    font-size: 20px;
    color: #393E46;
    opacity: .4;
    padding-left: 10px;
}

.iconsearch {
    width: 20px;
    height: 20px;
}

.box {
    width: 400px;
    height: 400px;
    background-color: #F7F5F2;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
}

.box section {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 15px;
    width: 560px;
    height: fit-content;
    background-color: #F7F7F7;
    box-shadow: 0 0 2px 1px #AAAAAA;
}

.box h3 {
    font-family: "Poppins-Medium";
    font-size: 16px;
    color: #393E46;
    letter-spacing: 0.05em;
}

.box p {
    font-family: "Poppins-Reguler";
    font-size: 14px;
    color: #393E46;
    letter-spacing: 0.1em;
}

.statusbox {
    display: flex;
    align-items: center;
    margin-top: 5px;
    justify-content: space-between;
    width: 550px;
}

.iconstatus {
    width: 18px;
    height: 18px;
}

.statusbox p {
    font-size: 14px;
    width: 450px;
    color: #aaa;
    font-family: "Poppins-Reguler";
}

.iconedit {
    width: 16px;
    height: 16px;
}

.icondelete {
    width: 18px;
    height: 18px;
}

aside {
    width: 424px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside h2 {
    padding: 10px;
    font-family: "Gotham-Medium";
    font-size: 22px;
    letter-spacing: 0.05em;
    color: #393E46;
    opacity: .8;
}

label {
    font-family: "Gotham-Book";
    font-size: 17px;
    margin-left: 5px;
    letter-spacing: 0.02em;
    color: #393E46;
    opacity: .8;
}

.form section {
    width: 404px;
    height: 60px;
    padding: 10px;
    margin-top: 10px;
}

.form input {
    width: 380px;
    border-radius: 10px;
    border: 2px solid #aaa;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    font-family: "Gotham-Book";
    font-size: 20px;
    color: #393E46;
    opacity: .8;
}

.form select {
    width: 403px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    font-family: "Gotham-Book";
    font-size: 18px;
    border: 2px solid #aaa;
    color: #393E46;
    opacity: .8;
}

.button {
    width: 424px;
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}

.buttonsave {
    font-family: "Gotham-Bold";
    font-size: 22px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 0.2em;
    border-radius: 30px;
    border: none;
    color: #393E46;
    opacity: .8;
    background-color: #FFD369;
    cursor: pointer;
    font-variant: small-caps;
}

.buttonsave:hover {
    background-color: #FFC54D;
}
